@model string
@{
    ViewData["Title"] = "Home Page";
    var time = new TimeSpan(Environment.TickCount);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>
    @ViewData["Conn"]
</h2>

<environment include="Development">
    <div>Desenvolvimento</div>
</environment>
<environment exclude="Development">
    <div>Não Desenvolvimento</div>

</environment>

<ul>
    <li><strong style="margin-right:5px">SystemDirectory:</strong>@Environment.SystemDirectory</li>
    <li><strong style="margin-right:5px">Current Directory:</strong>@Environment.CurrentDirectory</li>
    <li><strong style="margin-right:5px">CommandLine:</strong>@Environment.CommandLine</li>
    <li><strong style="margin-right:5px">MachineName:</strong> @Environment.MachineName</li>
    <li><strong style="margin-right:5px">Plataform:</strong>@Environment.OSVersion.Platform</li>
    <li><strong style="margin-right:5px">Service Pack:</strong>@Environment.OSVersion.ServicePack</li>
    <li><strong style="margin-right:5px">Version:</strong>@Environment.OSVersion.VersionString</li>
    <li><strong style="margin-right:5px">UserName:</strong>@Environment.UserName</li>
    <li><strong style="margin-right:5px">UserDomainName:</strong>@Environment.UserDomainName</li>
    <li><strong style="margin-right:5px">TickCount:</strong>@Environment.TickCount</li>
    <li><strong style="margin-right:5px">WorkingSet:</strong>@Environment.WorkingSet</li>
</ul>

<hr />
<ul>
    <li><strong style="margin-right: 5px">ASPNETCORE_ENVIRONMENT</strong>@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</li>
    <li><strong style="margin-right: 5px">QueryString</strong>@Environment.GetEnvironmentVariable("QueryString")</li>

</ul>